NEXT_PUBLIC_SUPABASE_URL=https://TU-PROYECTO.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
PRINT_BRIDGE_URL=http://192.168.x.x:7070
PRINT_BRIDGE_TOKEN=
NEXT_PUBLIC_APP_TZ=America/Bogota
NEXT_PUBLIC_APP_LOCALE=es-CO
NEXT_PUBLIC_APP_CURRENCY=COP
