NEXT_PUBLIC_SUPABASE_URL=https://TU-PROYECTO.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SEDE_ID=00000000-0000-4000-8000-000000000001
NEXT_PUBLIC_PRINT_BRIDGE_URL=http://192.168.x.x:7070
NEXT_PUBLIC_PRINT_BRIDGE_TOKEN=
NEXT_PUBLIC_APP_TZ=America/Bogota
NEXT_PUBLIC_APP_LOCALE=es-CO
NEXT_PUBLIC_APP_CURRENCY=COP
